* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    
    background:     #e9e0d6;
    margin:         0;    
    font-family:    arial, helvetica sans;
    height:         100%;
}

.title {    
    background:     #474747;
    color:          #e9e0d6;    
    padding:        15px;
    letter-spacing: 3px;
    font-size:      32px;
    display:        inline-block;
}

.menubox{    
    width:          100%;
    height:         100%;
    background:     #5f5f5f;
    color:          #e9e0d6;
    display:        inline-block;
    clear:          both;        
}

.menuoption{
    font-size:      22px;
    color:          #e9e0d6;    
    padding:        15px;     
    transition:     background 0.5s;
}

.menuoption:hover{
    color:          #4c6483;    
    background:     #e9e0d6;
}

#uploadwindow{
    width: 100%;     
    background:     #eb7260;    
    color:          #e9e0d6;    
    padding: 10px;
}

ul {
    padding-left: 40px
}

/*music stuff*/

#searchbar{
    width:          100%;
    height:         8%;
    background:     #eb7260;    
    color:          #e9e0d6;
    line-height:    3em;
    padding-left:   1.5em;
    padding-right:  1.5em;
}

#searchbar input[type="text"]{
    background: inherit;
    border: none;
    border-bottom: 1px solid white;
    color: #e9e0d6;
    font-size: 16px;
}

#searchbar input[type="text"]::-webkit-input-placeholder {
   color: #e9e0d6;
}

#searchbar input[type="text"]:-moz-placeholder { /* Firefox 18- */
   color: #e9e0d6;
}

#searchbar input[type="text"]::-moz-placeholder {  /* Firefox 19+ */
   color: #e9e0d6;
}

#searchbar input[type="text"]:-ms-input-placeholder {  
   color: #e9e0d6;
}

#searchbar input[type="text"]:focus{
    outline: none;
}

#searchbar input[type="password"]{
    background: inherit;
    border: none;
    border-bottom: 1px solid white;
    color: #e9e0d6;
    font-size: 16px;
}

#searchbar input[type="password"]::-webkit-input-placeholder {
   color: #e9e0d6;
}

#searchbar input[type="password"]:-moz-placeholder { /* Firefox 18- */
   color: #e9e0d6;
}

#searchbar input[type="password"]::-moz-placeholder {  /* Firefox 19+ */
   color: #e9e0d6;
}

#searchbar input[type="password"]:-ms-input-placeholder {  
   color: #e9e0d6;
}

#searchbar input[type="password"]:focus{
    outline: none;
}

#listings{
    width:             100%;    
    height:            41%;    
    overflow-y:        scroll;    
}
#listings::-webkit-scrollbar{
    display: none;
}

#playlist{
    height: 41%;
    width: 100%;        
    overflow-y: scroll;
}
#playlist::-webkit-scrollbar{
    display: none;
}

#player{
    width: 100%;    
    height: 6%;
    overflow: hidden;
    background: #eb7260;    
    display: block;
    text-align: center;
    line-height: 2.5; 
    color: #e9e0d6;
}

.musicButton{    
    width: 50px;    
    background: #eb7260;
    color: #993122;
    font-size: 22px;    
    line-height: 2;
    display: inline-block;   
    transition: background 0.5s;
}

.musicButton:hover{
    background: #eb9b8f;
}

.musicListing{
    margin-left: 0.5em;    
    margin-right: 0.5em;    
    padding: 1em;               
    color:      #354458;
    line-height: 1.5;    
    border-bottom: 1px solid rgba(0,0,0,0.1);
    transition: color 0.5s;       
}
.musicListing a {
    text-decoration: none;
}

.musicListing:hover{    
    color:      #eb7260;       
}

.musicAdd{ 
    float: right;
    width: 25px;
    text-align: center
}

table, td, tr{
    border-collapse: collapse;
    margin: 0;
    padding: 0;    
}

input[type="submit"] {
	background-color:       #474747;
        border:                 none;
        border-radius:          5px;
        cursor:                 pointer;
	color:                  white;
        padding-left:           1em;
        padding-right:          1em;
        padding-top:            .5em;
        padding-bottom:         .5em;
        margin-left:            1em;
        margin-right:           1em;
}
input[type="submit"]:active, input[type="submit"]:focus {
        background-color:       white;
	color:                  #474747;        
        outline:                none;
}

input[type="button"] {
	background-color:       #474747;
        border:                 none;
        border-radius:          5px;
        cursor:                 pointer;
	color:                  white;
        padding-left:           1em;
        padding-right:          1em;
        padding-top:            .5em;
        padding-bottom:         .5em;
        margin-left:            1em;
        margin-right:           1em;
}
input.upload {
	background-color:       #474747;
        border:                 none;
        border-radius:          5px;
        cursor:                 pointer;
	color:                  white;
        padding-left:           1em;
        padding-right:          1em;
        padding-top:            .5em;
        padding-bottom:         .5em;
        margin-left:            1em;
        margin-right:           1em;
}
input[type="button"]:active, input[type="button"]:focus {
        background-color:       white;
	color:                  #474747;        
        outline:                none;
}